$height: 48px;

.promoCard {
  .ant-card-head {
    height: $height;
  }
  .ant-card-head-wrapper {
    text-transform: capitalize;
    height: $height;
  }
  .ant-card-body {
    display: none;
  }
  &__link {
    color: #086a72 !important;
    &:hover {
      color: #1890ff !important;
    }
  }
}
