.chartWrapper {
  position: relative;
  overflow-x: auto;
}

.chartWrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.chartAreaWrapper {
  &--scaleUp {
    border: 1px solid transparent;
  }
  &--scaleDown {
    border: none;
  }
}
