$primary: rgb(167, 255, 133);
$secondary: rgb(23, 186, 121);

$secondary_dark: rgb(21, 172, 112);

$tertiary: rgb(8, 106, 114);
$fourth: rgb(7, 25, 80);
$borderRadius: 1rem;

$primaryPurple: rgb(130, 89, 207);
$secondaryPurple: rgb(190, 168, 230);
$primaryBlue: rgb(34, 131, 211);
$secondaryBlue: rgb(115, 179, 232);

$dark: rgb(8, 106, 114);

.info-card {
  border: none;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  border-radius: 0;
  width: 100%;
  color: $tertiary;
  &:hover,
  &:active {
    background: hsla(0, 0%, 50%, 0.059);
  }
  .ant-card-head-title {
    text-align: center;
    padding: 0 8px;
  }

  .ant-card-head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(135deg, $primary, $secondary);
  }
  .ant-card-actions {
    background: linear-gradient(135deg, $secondary, $dark);
    &:hover,
    &:active {
      background: $secondary;
    }
    a {
      color: rgb(255, 255, 255) !important;
    }
  }
}

.learn-earn-icon {
  width: 23px;
  padding: 1px 8px;
  border-radius: 50%;
  color: white;
  &--purple {
    background: linear-gradient(135deg, rgb(142, 45, 226), rgb(74, 0, 224));
  }
  &--blue {
    background: linear-gradient(135deg, rgb(0, 180, 219), rgb(0, 131, 176));
  }
}

.unit-tag {
  font-weight: normal;
  background: linear-gradient(135deg, $secondary, $secondary_dark);
}
