@import '~antd/dist/antd.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-modal-header .ant-modal-title {
  font-family: inherit;
  font-weight: 700;
}

.ant-table-thead .ant-table-cell {
  font-family: inherit;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inherit {
  display: inherit;
}

.w-72 {
  width: 18rem;
}

.h-72 {
  height: 18rem;
}

.h-80 {
  height: 20rem;
}

.h-88 {
  height: 28rem;
}

.line-title {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1vh;
}

.line-title > div:nth-of-type(1){
  width: 2vw;
  height: 1px;
  background-color: #e2e8f0;
  margin-right: 0.5vw;
}

.line-title > span {
  white-space: nowrap;
}

.line-title > div:nth-of-type(2) {
  height: 1px;
  background-color: #e2e8f0;
  margin-left: 0.5vw;
  flex-grow: 1;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.ant-table-filter-dropdown {
  border-radius: 0.25rem;
}
