$firstBreak: 1060px;

.ant-menu-item-selected.bg-green-800-selected {
    background-color: #276749 !important;
}

.custom-select {
    .ant-select-selector {
        border-radius: 0.25rem !important;
    }
}

.custom-ant-upload {
    max-width: 195px;
    height: 100%;
    .ant-upload {
        height: 100%;
        width: 100%;
        border-radius: 0.25rem !important;
    }
}

.custom-select-rounded-l-r-none {
    .ant-select-selector {
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

.custom-select-rounded-tr-none {
    .ant-select-selector {
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
    }
}

.custom-search {
    display: flex;
    height: 24px;
    .ant-input {
        border-radius: 0.25rem;
        height: 24px;
    }
    .ant-input-search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.25rem;
        height: 24px;

        .anticon.anticon-search {
            position: relative;
            bottom: 1px;
        }
    }
}

.custom-antd-upload .ant-upload.ant-upload-select {
    width: 16rem;
    height: 12rem;
}

.custom-modal {
    position: initial;
    margin-top: 2rem;
    .ant-modal-footer {
        border-top: 0;
    }
}

.ant-modal-content  {
  border-radius: 5px;
}

.ant-modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.form-item-control-input-h-full-w-full {
    .ant-form-item-control-input {
        height: 100%;
        width: 100%;
    }
    .ant-form-item-control-input-content {
        height: 100%;
        width: 100%;
    }
}

.custom-ant-input-wrapper {
    .ant-input-group-addon {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .ant-input {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

.ant-table-wrapper--responsive {
    .ant-table-thead {
        .antd-col {
            @media only screen and (max-width: $firstBreak) {
                display: none;
            }
    
        }
    }
    .antd-row {
        @media only screen and (max-width: $firstBreak) {
            display: block;
            border-top: 1px solid rgb(221, 221, 221);
            &:first-child {
                border-top: 0;
            }
        }
    }
    .antd-row .antd-col {
        @media only screen and (max-width: $firstBreak) {
            border-bottom: 1px solid rgb(222, 222, 222);
            display: block;
            text-align: right;
        } 
        &::before {
            @media only screen and (max-width: $firstBreak) {
                content: attr(data-title);
                float: left;
                font-weight: 500;
                text-align: left;
                color: rgba(0, 0, 0, 0.85);
                font-size: 14px;
            } 
        }
    }
}